html {
    margin:0;
    padding:0;
    font:normal 100%/1.4 Georgia,serif;
}

h1 {
    font-size: 48px;
}
nav > ul > li {
    display: inline-block;
    padding:6px 30px;
    background-color: aqua;
    text-transform: uppercase;
}

.current {
    background-color: #333;
}
.current > a{
    color:#fff;
}
.nav-bottom > ul > li {
    display: inline-block;
    padding:6px 30px;
    background-color: #333 !important;
    color:#fff;
}
footer {
    position: relative;
    align-items: center;
    bottom: 0px;
}